@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}



.swiper-pagination-bullet {
  @apply bg-yellow-400 opacity-40 p-2;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-yellow-400 opacity-100;
}


.swiper-button-next,
.swiper-button-prev {
  @apply  bg-yellow-400 text-gray-400 rounded-full p-4 shadow-lg;
}

li a.active {
@apply   bg-yellow-400;
}